body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  overflow: hidden;
  background: linear-gradient(to right, #00fff2, #ec82ff); /* Standard syntax */
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

.randBtn {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: linear-gradient(to top, #00fff2, #ec82ff);
  font-weight: bolder;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

.color1,
.color2 {
  border-radius: 10px;
  padding: 5px;
  margin: 18px;
  width: 60px;
  height: 45px;
}

.color1 {
  background-color: #ec82ff;
}

.color2 {
  background-color: #00fff2;
}
button,
input {
  border-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
